<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/" target="_blank">
                <i class="fa-brands fa-square-instagram"></i>
            </a>

            <a href="https://www.twitter.com" target="_blank">
                <i class="fa-brands fa-square-x-twitter"></i>
            </a>

            <a href="https://www.linkedin.com" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a> 
        </div>
        <br>
        <div class="f-info-company">
            <p> &copy StayEasy Private Limited</p>
        </div>
        <div class="f-info-links">
            <a href="privacy">Privacy</a>

            <a href="terms">Terms</a>
        </div>
    </div>
</footer>