<nav class="navbar navbar-expand-sm bg-body-light border-bottom sticky-top">
    <div class="container-fluid"> 
      <a class="navbar-brand" href="/"><i class="fa-solid fa-hotel "></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/">Home</a>
          <a class="nav-link" href="/listings">All Listings</a>
          <a class="nav-link" href="/listings/new">Add New Listing</a>
        </div>

        <div class="dropdown ms-auto pe-5 d-flex">
          <% if (currUser) { %>
            <div class="name mt-3 pe-3">
              <p> <%= currUser.username%> </p>
            </div>
          <% } %>
          <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-user"></i>
          </button>
          <ul class="dropdown-menu">
            <% if (!currUser) { %>
              <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
              <li><a class="dropdown-item" href="/login">Login</a></li>
            <% } else { %>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            <% } %>
          </ul>
        </div>
        
      </div>
    </div>
</nav>