<% layout("/layouts/boilerplate.ejs") -%>


<body>
    <br>
    <div class="content_index">
        <h2>All Listings</h2>
        
        <div class="row row-col-lg-4 row-cols-md-2 row-cols-sm-1">
            <% for(list of allListings) { %> 
                <div class="card col" style="width: 20rem;">
                   
                    <a href="/listings/<%=list._id%>"><img src=<%=list.image.url%> class="card-img-top" style="height: 20rem"></a>
                    <div class="card-body">
                    <p class="card-text"> <b><%=list.title%></b> </p>
                    <p class="card-text"> &#8377 <%=list.price.toLocaleString("en-IN")%>/night </p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
</body>