<% layout("/layouts/boilerplate.ejs") -%>
<style>
    h2 {
            text-decoration: underline;
        }
</style>
<body>
    <div class="row offset-1">
        <div class="content_index mt-4">
            <h2>Login Page</h2>
            <div class="col-md-8">
            <form method="POST" action="/login" novalidate class="needs-validation">
            <div>
                <label for="username" class="form-label"><b>Username</b></label>
                <input name="username" placeholder="Enter Username" type="text" class="form-control" required>
            </div>

            <br>

            <div>
                <label for="password" class="form-label"><b>Password</b></label>
                <input name="password" placeholder="Enter User Password" type="password" class="form-control" required>
            </div>

            <br>

            <button class="btn btn-success">Login</button>
        </form>
        </div>
        </div>
        </div>    
</body>